<div>

  {{#nb-fab  type="mini" id="miniFAB" icon=(build-icon "plus" "white")   }}
      {{nb-button type="raised-icon" icon=(build-icon "account-plus" "grey") background-color="#ddd"}}
      {{nb-button type="raised-icon" icon=(build-icon "account-multiple-plus" "grey") activate=activate background-color="#ddd"}}
      {{nb-button type="raised-icon" icon=(build-icon "label" "grey") background-color="#ddd"}}
      {{/nb-fab}}

    {{#nb-fab type="normal" id="normalFAB"  icon=(build-icon "plus" "white")   }}
        {{nb-button type="raised-icon" icon=(build-icon "account-plus" "grey") background-color="#ddd"}}
        {{nb-button type="raised-icon" icon=(build-icon "account-multiple-plus" "grey") activate=activate background-color="#ddd"}}
        {{nb-button type="raised-icon" icon=(build-icon "label" "grey") background-color="#ddd"}}
        {{/nb-fab}}
    {{#nb-fab type="large" id="largeFAB" active=appState.fabIsActive on-activate=(route-action "onActivateFab") activeIcon=(build-icon "key-plus" "white") icon=(build-icon "plus" "white")   }}
        {{nb-button type="raised-icon" icon=(build-icon "account-plus" "grey") background-color="#ddd"}}
        {{nb-button type="raised-icon" icon=(build-icon "account-multiple-plus" "grey") activate=activate background-color="#ddd"}}
        {{nb-button type="raised-icon" icon=(build-icon "label" "grey") background-color="#ddd"}}
        {{/nb-fab}}

</div>

